@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100 text-gray-800 font-sans;
}

/* 9:16 비율 설정 */
.aspect-9-16 {
  width: calc(100vh * 9 / 16); /* 9:16 비율 */
  height: 100vh;
  max-width: 100%; /* 화면 너비를 초과하지 않도록 제한 */
}
